@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-brand-primary: #8b5cf6;
  --color-brand-secondary: #ec4899;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #fcfcfc;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: #121212;
  }
}

body {

  margin: 0;

  min-width: 320px;

  min-height: 100vh;

}



@utility pb-safe-area-inset-bottom {

  padding-bottom: env(safe-area-inset-bottom);

}
